# My First Hello World In Python

In [1]:
print("hello world!")

hello world!

# Indentation

In [9]:
x = 5
if x < 10:
    print("YES!")
else:
    print("NO!")

YES!

In [10]:
#single line comment

In [15]:
"""
multiple
line
comment
"""
print("my comment")

my comment

In [18]:
#integer
age = 25

#float
temperature = 25.5

#string
greet = "hello"

print("Age : ",age)
print("Temp : ",temperature," celcius")
print("Greet : ",greet)

Age :  25
Temp :  25.5  celcius
Greet :  hello

# Data Type

In [19]:
print(type(age))
print(type(temperature))
print(type(greet))

<class 'int'>
<class 'float'>
<class 'str'>

# Prompting

In [21]:
age = input("Masukkan Umur Anda: ")
height = input("Masukkan Tinggi Anda: ")
weight = input("Masukkan Berat Anda: ")

print(f"Umur anda {age} tahun, tinggi anda {height} CM, dan berat anda {weight} KG.")

Masukkan Umur Anda:  25
Masukkan Tinggi Anda:  165
Masukkan Berat Anda:  55

Umur anda 25 tahun, tinggi anda 165 CM, dan berat anda 55 KG.

# Lists

In [27]:
fruits = ["apple", "banana", "cherry"]
print(fruits[2])
fruits[1] = "durian"
print(fruits[1])

cherry
durian

# Tuples

In [32]:
coordinates = (10, 20)
print(coordinates[1], coordinates[0])

20 10

# Dictionaries

In [33]:
person = {"name": "Iwan", "age": "25"}
print(person["name"])

Iwan

# For Loop

In [36]:
for x in fruits:
    print(x)

apple
durian
cherry

# Functions

In [37]:
def multiply(x):
    return 5*x
print(multiply(3))
print(multiply(5))
print(multiply(9))

15
25
45